<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=S, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/addCourse" method="POST">
        <label for="username">Course Name</label><br>
        <input type="text" id="username" name="username"><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>