<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav id="nav">
        <a href="/myCourses">my courses</a>||||||||||||
        <a id="for_instructor" href="/addCourse">Add Course</a>
        <a href="/allcourse">All courses</a>
    </nav>

</body>
</html>