<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/signUp" method="POST">
        <label for="username">username</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="password">password</label><br>
        <input type="text" id="password" name="password"><br>
        <label for="role">role</label><br>
        <input type="text" id="role" name="role"><br><br>
        <button type="submit">Submit</button>
      </form>
</body>
</html>